
@{
    ViewData["Title"] = "Index";
}

 
<div class="d-grid gap-2">
	<a class="btn btn-lg btn-primary" asp-action="Details"> Show All Category</a>
	<a class="btn btn-lg btn-primary bi bi-plus-circle-dotted" asp-action="Create"> Create Category</a>

</div>
